
body {
    background-image: url('A.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
  
  .header {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .header h1 {
    font-style: italic;
    color: black;
    background-color: green;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .content {
    margin-top: 20px;
  }
  
  
  .container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-top: 20px;
  }
  
  .playlist-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 40%;
  }
  .playlist-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .playlist-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  .playlist-card h2{
    margin: 10px 0;
    font-size: 0.8rem;
  }
  .playlist-card p {
    color: #555;
    font-size: 0.9rem;
  }
  .playlist-card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  .playlist-card a:hover {
    text-decoration: underline;
  }
  
  .description {
    margin-top: 20px; 
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
      flex-direction: column;
  }
  
  .playlist-card:first-child {
    scroll-margin-top: 100px;
  }

  .pale{
    height: 50px;
  }
  
  .selectbutton{
    margin-top: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: green;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
