<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>PlaylistMotion</title><link rel="stylesheet" href="{{ url_for('static', filename='css/style_sub.css') }}">
</head><body><div class="header"><h1>PlaylistMotion</h1></div>
<div class="pale"></div><div class="pale"></div>
<div><p class="description">
<strong>## Please select the proper playlist. ##</strong></p>
</div><div class="pale"></div><div class="pale"></div>
        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72cad771419f271989c571ff3a1" alt="Playlist Image"><h3>ASDF Movie Songs</h3><p>Creator: By Logan601
</p><p><h2>5TQTOu0kdqdUAREhL67ECi</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72cada9086d229de402e8c25fb5" alt="Playlist Image"><h3>Best of deadmau5</h3><p>Creator: By mc.suchecki
</p><p><h2>3DwPWVn2d51j1HTbasevy8</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72c3a05ed470530cef64bd1332f" alt="Playlist Image"><h3>Autism Calming Sensory 🧩 ASD Relaxing Music</h3><p>Creator: By Klangspot Recordings
</p><p><h2>3Uk8Y6WVmws4uMwojWvhDL</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-fa.spotifycdn.com/image/ab67706c0000d72c619d8c14bc7fd00a531e5ec8" alt="Playlist Image"><h3>"Calming Music for Neurodivergence (ADHD</h3><p>Creator:  ASD</p><p><h2>3D1JdJ6EyAkSvwTUTGZcDI</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72c4cea8b38f70c07933fb11455" alt="Playlist Image"><h3>Assyrian Songs</h3><p>Creator: By Nenous
</p><p><h2>54QTBwxDru1wWMCuaSDBLT</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84aa4e49bbfa29134eb0f02ce7" alt="Playlist Image"><h3>Neurodivergent Eargasms</h3><p>Creator: By Alex Gianola
</p><p><h2>2ePvETTEuBZIQR6mFnXuzy</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72c92aa540dc5c7da1bbab7f9ea" alt="Playlist Image"><h3>Autism Calming Sensory Relaxing Music / Relaxing Music for Autism</h3><p>Creator: By Relaxing Music Playlists
</p><p><h2>0arg4vSBb7IUD5BgCkasxY</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0204921193c0e0c1a521415f22ab67616d00001e02246c39d49db2bf773a218baeab67616d00001e028f86018624be3ffc755e9e3dab67616d00001e0292d47d30548ca93c7cfc89e3" alt="Playlist Image"><h3>ADHD Sensory Calming </h3><p>Creator: By Nikki Walker
</p><p><h2>5hkgGE2QQwRPsAznTXd2cn</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72c1f3c1c6cc626180ee55149fd" alt="Playlist Image"><h3>Autism Calming Sensory Music 🧩 Relaxing ASD Music</h3><p>Creator: By Tune Tribe Music
</p><p><h2>3Req4i9FQ9GbVATibfhSNi</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72c77ad95ebdafd536b88ec4409" alt="Playlist Image"><h3>Autism Sleep Music</h3><p>Creator: By Underhill Records
</p><p><h2>3qrY1a4RRWyBXOv3aEzYvj</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84580ae2312e0f2751cad23b24" alt="Playlist Image"><h3>AC/DC Greatest Hits</h3><p>Creator: By mquartercircle
</p><p><h2>0wTrfNrOLJnH8XJed32zaE</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e023811c65339c8013bca6c4e4fab67616d00001e02694508eac2a3312d28af4a75ab67616d00001e02b1ae30a0da12549cd8b7ba28ab67616d00001e02f9685817281327d5fecb244e" alt="Playlist Image"><h3>asd</h3><p>Creator: By Isaac So
</p><p><h2>0JDkaVEDUYUUpu9ndyAzc0</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://i.scdn.co/image/ab67616d00001e025100817ae1b109956bb04d82" alt="Playlist Image"><h3>Assassin's Creed Sea Shanties Complete</h3><p>Creator: By Justin Millen
</p><p><h2>4NbNC9v5XogH3VxwjuLQfq</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72c4ca16fb20fc2357e65003384" alt="Playlist Image"><h3>Asdf</h3><p>Creator: By Lachlan Wright
</p><p><h2>1eFlzJX8P9GzemUzpByXJx</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e02598c84a14f6d96d221db3a50ab67616d00001e0277a51b8f75dcdf9ecd2944bcab67616d00001e029b1c6631d8cc21b5a68b6f55ab67616d00001e02b888eb0a410831a7c82ee37a" alt="Playlist Image"><h3>Bilateral stimulation - PTSD/ADHD/Neurodivergent - no therapy replacement</h3><p>Creator: By Deniz
</p><p><h2>4SykrJJmfnqJSyMwHKhH67</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e026ba1cffc9b2c5469503430b3ab67616d00001e026ed9aef791159496b286179fab67616d00001e02c027ad28821777b00dcaa888ab67616d00001e02cad190f1a73c024e5a40dddd" alt="Playlist Image"><h3>asdf</h3><p>Creator: By Isaac Tong
</p><p><h2>1NivNNonHHO66lsZOROdoJ</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72ced2ad7651f92edbfd4820258" alt="Playlist Image"><h3>asdf</h3><p>Creator: By patrick
</p><p><h2>53Z1Zcga1oDtqpxjQZWNEw</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-fa.spotifycdn.com/image/ab67706c0000d72cfb12b72ff8157a9cab5f001f" alt="Playlist Image"><h3>asdfgb</h3><p>Creator: By gibber gobber
</p><p><h2>2joh5AwQUeYSPGSen58gyS</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0208a02b705f35dce2a517f6e5ab67616d00001e023e6d28b65941d85bce3374d5ab67616d00001e0290e22400e515676843c29fe0ab67616d00001e02f71fa7bd2d9a5eb118765939" alt="Playlist Image"><h3>JayM ASD list</h3><p>Creator: By Jason McFarlane
</p><p><h2>3hxur6k14grzbFvUv4EI8A</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000d72cd77d8d4b2ad580688c47d881" alt="Playlist Image"><h3>asdf</h3><p>Creator: By asdf
</p><p><h2>5npYLk18qBNGHfy9tlCwtk</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0231ac0d9c574a2d6b594b6d47ab67616d00001e024ed139a5d193ec2b704cf28fab67616d00001e025be34ac9533490e9a764faddab67616d00001e02f3b745ffea2482791986e498" alt="Playlist Image"><h3>asdfasd</h3><p>Creator: By Joseph Keats
</p><p><h2>5Fa4fOzy2zKIpFxwhlFuXS</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0224c39b52de69d4d017f7c7e3ab67616d00001e02496aafbb8b8831ef72a5ef14ab67616d00001e0252038992fc6d7868f31d23b7ab67616d00001e02b280aea74eef855675d7b93b" alt="Playlist Image"><h3>K</h3><p>Creator: By bruhh
</p><p><h2>4KKfcT2e3Yb3NiQcfFFmYy</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0285d0dd2e0f516d377f82f338ab67616d00001e02abd33934d1c30fb5c6fd2924ab67616d00001e02aedd9728f5cc4b13ee49e061ab67616d00001e02fb81082abf3cf3791bad9624" alt="Playlist Image"><h3>asdadadaf</h3><p>Creator: By Mr. Drias
</p><p><h2>3otmOp4wCET2PJuDSyJZ7y</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0224efae6d1872a05a3d71775aab67616d00001e02b0892873221ae76d58e612ffab67616d00001e02b89b853b90ebc65b163b4d10ab67616d00001e02e7d22b5fe111978afbd0eb97" alt="Playlist Image"><h3>Cunty asdf</h3><p>Creator: By Joshua Elfverson
</p><p><h2>7y9VgZSDFxdfxDSQU2d9uh</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e021fba1231f8d1cf0d06d92339ab67616d00001e022e8ed79e177ff6011076f5f0ab67616d00001e024104f6b4175d04d69ab73c85ab67616d00001e0260e5059dcab339142d7642bb" alt="Playlist Image"><h3>Asd</h3><p>Creator: By Ivars1988
</p><p><h2>4JvIGY1q8npxrJZDDvqbDQ</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/track/1LGv7Ah6TXp1soAAIzzuGC/en-GB" alt="Playlist Image"><h3>The Muffin Song (asdfmovie) Radio</h3><p>Creator: By Spotify
</p><p><h2>37i9dQZF1E8HeFOlyMBOC8</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0241b839ed5f8427a34bf4f4bcab67616d00001e024c084055176cbcba213e7c3bab67616d00001e02647771467b9e77a880ad56a5ab67616d00001e0281a6a2cafab2e7a4066b5eec" alt="Playlist Image"><h3>asd 🤪</h3><p>Creator: By snatcharoo
</p><p><h2>5aB3EP5LMecg1Lg9j8IzpP</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0270dbc9f47669d120ad874ec1ab67616d00001e027e76c17cfbc723800452a24fab67616d00001e02d70916ee9e40c90380ba5f07ab67616d00001e02f2cd132495d61b0da6a900d2" alt="Playlist Image"><h3>My fav songss (2)</h3><p>Creator: By Ananya
</p><p><h2>4pHvIVEW7o12BgB7xYadsE</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

        <div class="playlist-card"><img src="https://mosaic.scdn.co/300/ab67616d00001e0211ea014ffd469fa266556bb5ab67616d00001e021dac3694b3289cd903cb3acfab67616d00001e023946296435bb94c2813416eeab67616d00001e02b924aec7c8f9c0a6a7dc7a06" alt="Playlist Image"><h3>ASD</h3><p>Creator: By Rebecca
</p><p><h2>26kPlcaODmSGDVKZCcfzBr</h2></a></p>
<div class="pale"></div><button class="selectbutton" onclick="selectData(event)">Select</button></div><div class="pale"></div>

</body1>
</html>